[package]
name = "linux-io-uring"
version = "0.0.1"
authors = ["quininer <quininer@live.com>"]
edition = "2018"
license = "MIT/Apache-2.0"
repository = "https://github.com/quininer/linux-io-uring"
homepage = "https://github.com/quininer/linux-io-uring"
documentation = "https://docs.rs/linux-io-uring"
description = "The `io_uring` library for Rust."
categories = [ "asynchronous", "network-programming", "filesystem" ]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]

[features]
bindgen = [ "linux-io-uring-sys/bindgen" ]
overwrite = [ "linux-io-uring-sys/overwrite" ]

[dependencies]
libc = "0.2"
bitflags = "1"
linux-io-uring-sys = { version = "0.0.1", path = "linux-io-uring-sys" }

[dev-dependencies]
tempfile = "3"
