[package]
name = "io-uring"
version = "0.5.0"
authors = ["quininer <quininer@live.com>"]
edition = "2018"
license = "MIT/Apache-2.0"
repository = "https://github.com/tokio-rs/io-uring"
homepage = "https://github.com/tokio-rs/io-uring"
documentation = "https://docs.rs/io-uring"
description = "The low-level `io_uring` userspace interface for Rust"
categories = [ "asynchronous", "network-programming", "filesystem" ]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
exclude = []
members = [ "io-uring-test", "io-uring-bench" ]

[features]
unstable = []
overwrite = [ "bindgen" ]
direct-syscall = [ "sc" ]

[dependencies]
bitflags = "1"
libc = { version = "0.2", default-features = false }
sc = { version = "0.2", optional = true }

[build-dependencies]
bindgen = { version = "0.57", optional = true }

[dev-dependencies]
anyhow = "1"
nix = "0.19"
lazy_static = "1"
socket2 = "0.3"
slab = "0.4"

[package.metadata.docs.rs]
features = [ "unstable" ]
